/* contact.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: black;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    
}

.contact-form {
    background-color: #f0f3f6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.contact-form h2 {
    margin-bottom: 20px;
    color: #161212;
    text-align: center;
}

.contact-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

.contact-form input[type="text"],
.contact-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.privacy-policy {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.privacy-policy input[type="checkbox"] {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #029bdc;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
