body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background:black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    padding: 30px;
    
    
}
.res{
    color: #f5f7f7;
}
.box {
   background-color: #f4f4f8; 
    border: 1px solid #f8f4f4; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

