* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        background: rgb(1, 0, 0);
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(18, 18, 18);
}
.header_logo{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: rgb(113, 113, 243);
   
   
    
}
.header_menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10px; /* Espace entre les boîtes */
}

.header_menu li a {
    display: block;
    padding: 10px;
    background-color: #060606;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #faf7f7;
    transition: background-color 0.3s ease;
}

.header_menu li a:hover {
    background-color: #f5f2f2;
}
.header_logo{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }

p{     
        font-family: "Itim", cursive;
        font-weight: 400;
        font-style: normal;
        border: 2px solid #0f140f;
         border-radius: 10px; padding: 20px; 
         background-color: #f9f8f8;
         color: rgb(8, 8, 7);
}

.box_image {
    display: flex;
    gap: 15px; 
}

.box {
    margin-left: 250px;
    padding: 10px; 
    border: 1px solid #f8f4f4; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.box img {
    width: 200px; 
    height: auto;
}
